<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Genarator</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <% if(locals.fullname){%>
        <h1><%= fullname %></h1>
    <%}else{%>
        <h1>Click To Generate Name</h1>
    <%}%>
    <form action="/submit" method="POST">
        <button type="submit">Genarate</button>
    </form>
    </div>
</body>
</html>